<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="university_panel row fullWidth homepage">
    <h2 class="text-center welcome-title">Welcome to LinkMyProf</h2>
    <div class="left small-12 medium-4 columns">
        <h4 class="text-center normal-title">
            How to nevigate the site:
        </h4>
        <P>
            The university button will show a list of unversities that we have.
        </P>
        <P>
            The Professor panel will return a list of random professors. If you are logged in, the professor panel will
            give you suggestions
            about who to choose
        </P>
        <p>
            And of course, I am the home page.
        </p>
    </div>
    <div class="small-12 medium-4 columns">
        <h4 class="text-center normal-title">
            How to use the search:
        </h4>
        <p>
            By default, search will return all contents all contents which contains the key words
        </p>
    </div>
    <div class="small-12 medium-4 columns">
        <h4 class="text-center normal-title">
            User login:
        </h4>
        <P>
            You can create a user in the top right login panel
        </P>
        <P>
            Also, you can fill in some information in your login panel, so that your search will be more presice
        </P>
        <P>
            We will then recommand some professors and universities to you
        </P>
    </div>
</div>
</body>
</html>