<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class="row fullWidth prof_panel">
    <h2 class="welcome-title text-center">{{profs.name}}</h2>
    <h2 class="welcome-title text-center">{{profs.univ}}</h2>
    <div class="media-object medium-8 ">
        <div class="media-object-section">
            <div class="thumbnail">
                <img class="prof_big_img" src={{profs.img}}>
            </div>
        </div>
        <div class="media-object-section">
            <h5>Title: {{profs.title}}</h5>
            <h5>Interest: {{profs.area}}</h5>
            <h5>Match:{{totalInd2}} :</h5>
            <h5>Interest Match: {{inteInd2}}%</h5>
            <h5>Area Match: {{areaInd2}}%</h5>
            <h5>Similarity Match: {{simiInd2}}%</h5>
        </div>
        <div class="media-object-section chart1">


        </div>
    </div>

    <a href="mailto:{{profs.email}}" target="_top"><h4>Email: {{profs.email}}</h4></a>
    <a href={{profs.url}}><h4>HomePage:{{profs.url}}</h4></a>

</section>
</body>
</html>